body {
    background-color: #9042F8;
    display: flex;
    position: absolute;
    left: 500px;
    top: 10%;
    height: 100vh;
    font-family: FF dusha arabic;
    direction: rtl; /* For right-to-left text direction */
}
#mg{
    position: absolute;
    right: -525px;
    top: 50px;
}
div{
    position: absolute;
    top: 30%;
    left: 0px;
}

a:hover {
    color: #000;
    transform: scale(1.2);
}
.login-container {
    width: 500px;
    height: 500px;
    text-align: right;
    justify-content: right;
}
.login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
    text-shadow: 0px 2px 2px  rgb(0, 0, 0) ;
}
#login-container{
    color:  #484848;
}
.login-container input[type="text"], 
.login-container input[type="password"] {
    width: 475px;
    padding: 10px;
    margin: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-family: Aaargh;
    background-color: #9042F8;
    color: #484848;
}
.login-container label{
    color: #fff;
    border: none;
    padding: 10px;
    margin: 5px;
    text-align: right;
    direction: rtl;
    justify-content: right;
}
.login-container input[type="submit"] {
    background-color: #fff;
    color: #9042F8;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 500px;
    cursor: pointer;
    font-size: 16px;
    font-family: FF dusha arabic;
    direction: rtl;
    justify-content: right;
}